[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
black = "*"
jsonpath = "*"
assertpy = "*"
jsonpath-ng = "*"
python-dotenv = "*"
xmltodict = "*"
lxml = "*"
install = "*"
pytest-md-report = "*"
django-recaptcha = "*"

[dev-packages]

[requires]
python_version = "3.8"
